@media (prefers-color-scheme: dark) {
  html { background:  #333; color: white; }
}

@media (prefers-color-scheme: light) {
  html { background:  white; color: #333; }
}

header {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh
}

body {
  margin: 0;
}
